html {
    width: 1000px;
    margin: auto;
    height: 100%;
}

header {
    text-align: center;
    padding: 20px;
    border-top: 1px solid grey;
    border-bottom: 2px solid black;
    margin: 20px 0;
}

#site_title {
    font-family: Garamond,georgia,"times new roman",serif;
    font-size: 36px;
}

#date, #weather, #stock {
    display: inline-block;
    margin: 0 20px;
}

.leaderboard {
    height: 90px;
    width: 728px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: black;
}

.content_box {
    height: 250px;
    width: 300px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px 0; 
    border: 1px solid black;
    vertical-align: top;
    font-size: 16px;
}

.headline {
    font-weight: 900;
    font-size: 26px;
}

.ad_box {
    height: 250px;
    width: 300px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid black;
    background-color: black;
    vertical-align: top;
}


#gameInsert {
    height: 200px; 
    width: 100%;
    background-color: #cccccc;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-weight: 900;
}


.fieldsStandings {
   margin: 10px 15px;
}