#tabs-1 {
    height: 800px; 
}


.type_box {
    margin: 20px 0;
}

.controlBox {
    height: 500px;
    width: 500px; 
    border: 1px solid black;
    display: inline-block; 
    box-sizing: border-box; 
    position: absolute; 
    padding: 20px;
}


.tagOutput {
    height: 500px;
    width: 500px; 
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 600px; 
    padding: 20px;
}

input {
    margin-bottom: 20px;
}