.desktop, .greyBox, #date, #weather, #stock {
    display: none;
}

html {
    background-color: white;
}

header {
    text-align: center;
}

.navBar {
    width: 100%;
    padding: 0;
}


.navBar{font-weight: 800; font-size: 15px; width:100%; background: white;  text-align:center;}
.navBar ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.navBar li {display: block;   padding:15px 0; border-bottom:#1d1f20 1px solid;}
.navBar a{text-decoration:none; color:black;}

.hamburger, .cross {
    font-size: 20px;
    font-weight: 800;
    border: 3px outset black;
    width: 100px;
    margin: auto;
    box-shadow: 0px 0px 1px 3px #888888;
    border-radius: 5px;
}

#nativeGallery {
    display: none;
}

.mobile {
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}