.greyBox {
    background-color: #cecece;
    height: 800px;
    padding: 50px 50px;
    box-sizing: border-box;
    margin: 10px;
}


.desktop {
    padding-top: 100px;
    font-size: 42px;
}

.hamburger, .cross, .ad {
    display: none;
}
