.greyBox {
    background-color: #cecece;
    height: 350px;
    padding: 100px;
    box-sizing: border-box;
}

#hbAd{
    height: 250px;
    width: 300px;
    border: 1px solid black;
    margin: 10px auto;
}


#timeout, #placementId, #testMode, #bidId, #bidder, #adId, #pb {
    background-color: #cecece;
    border: none;
    font-weight: 800;
    font-size: 20px;
    color: green;
    text-align: center;
}

.prebidLabels {
    font-weight: 800;
    font-size: 20px;
}

#box {
    margin-top: -80px;
}
