/* ------ Native Galary and Main Setup ------ */


body {
    height: 2500px;
}

#nativeGallery {
    background-color: #cbcbcb;
    height: 2260px;
}

.grid_box {
    height: 500px;
    width: 327px;
    float: left; 
    border: 3px ridge #8e8e8e;
    margin: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: justify;
    padding: 0 10px;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #888888;
    color: #c6c6c6;
}


.gallery_buttons {
    margin-left: 14%;
    margin-top: -10px;
    display: inline-block;
}

.mobile {
    display: none;
}