#gameInsert {
    height: auto; 
    width: 100%;
    background-color: #cccccc;
    box-sizing: border-box;
    margin: 15px 0;
    font-weight: 900;
    font-size: 20px;
    padding: 10px 50px;
}


.fieldsStandings {
   margin: 10px 25px 10px 0;
   font-size: 16px;
}

#addButton {
    font-size: 16px;
    margin-left: 50px;
}

.mobile {
    display: none;
}