body {
    background-color: #292b2c !important;
}

.mobile {
    display: none;
}


.meters {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #292b2c;
}
